* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url('images/252850.png');
}


.box {
    width: 600px;
    background: rgba(255, 255, 255, .0);
    margin: 0 auto;
    margin-top: 7%;
    padding: 24px;
    text-align: center;
}

p{
    color: rgb(212, 153, 76);
    font-size: medium;
    font-family: "Jost", "sans-serif";
}

h1 {
    color: rgb(212, 153, 76);
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-size: 45px;
    font-family: "Jost", "sans-serif";
    font-weight: bold;
}

h2 {
    color: rgb(212, 153, 76);
    font-family: "Jost", "sans-serif";
}

.box-img { LA FOTO
    border-radius: 10%;
}

.social-icon {
    color: rgb(212, 153, 76);
}

.box ul {
    list-style: none;
    margin-top: 20px;
}

.box ul li {
    display: inline-block;
}

.box ul li a{
    font-size: 20px;
    padding: 10px 5px;
    display: block;
    transition: all 0.5 ease-in-out;
}

.box ul li a:hover{
    color: rgb(187, 131, 58);
    transform: scale(1.07);
}

.contact {
        color: rgb(187, 131, 58);
        min-height: calc(100vh - 211px - 58px):

}

footer {
    text-align: center;
    padding: 100px;
    font-family: "Jost", "sans-serif";
    display: block;
    
}
